.finishButton {
    width: 170px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #4c9df4;
    color: white;
    padding: 25px;
    border-radius: 12px;
    border-width: 0px;
}
