.finishButton {
    box-sizing: border-box;
    width: 170px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #4c9df4;
    color: white;
    padding: 25px;
    border-radius: 12px;
    border-width: 0px;
}

.nextQuestionButton {
    box-sizing: border-box;
    width: 151px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #222222;
    color: white;
    padding: 25px;
    border-radius: 12px;
    border-width: 0px;
}

.prevQuestionButton {
    box-sizing: border-box;
    width: 75px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #e8e8e8;
    padding: 25px;
    border-radius: 12px;
    border-width: 0px;
}

.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.testName {
    box-sizing: border-box;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.testDate {
    box-sizing: border-box;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.textForTestHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeInTimer {
    box-sizing: border-box;
    font-size: 36px;
}

.textForTime {
    box-sizing: border-box;
    font-size: 16px;
}

.Timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
