/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

.finishButton {
    box-sizing: border-box;
    width: 170px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #4c9df4;
    color: white;
    padding: 25px;
    border-radius: 12px;
    border-width: 0px;
}

.nextQuestionButton {
    box-sizing: border-box;
    width: 151px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #222222;
    color: white;
    padding: 25px;
    border-radius: 12px;
    border-width: 0px;
}

.prevQuestionButton {
    box-sizing: border-box;
    width: 75px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #e8e8e8;
    padding: 25px;
    border-radius: 12px;
    border-width: 0px;
}

.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.testName {
    box-sizing: border-box;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.testDate {
    box-sizing: border-box;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.textForTestHeader {
    display: flex;
    flex-direction: column;
}

.timeInTimer {
    box-sizing: border-box;
    font-size: 36px;
}

.textForTime {
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}

.Timer {
    width: 151px;
    height: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headQuestion {
    box-sizing: border-box;
    display: flex;
    margin-top: 65px;
    margin-bottom: 29px;
    justify-content: space-around;
    font-size: 30px;
    font-weight: bold;
}

.QuestionComponent {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Question {
    box-sizing: border-box;
    align-items: center;
}

.questionText {
    font-size: 24px;
    margin-bottom: 27px;
}

.answer {
    box-sizing: border-box;
    margin-bottom: 11px;
    font-size: 24px;
    align-items: flex-start;
}

.answerText {
    box-sizing: border-box;
    margin-left: 16px;
}

.testFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 34px;
}

.dotsElement {
    background-color: #3f82c9;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    flex-shrink: 0;
}

.dotsContainer {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
}

.progressbarBackground {
    height: 11px;
    background-color: #8cc4ff;
    border-radius: 8px;
    align-content: center;
}

.progressbarProgress {
    margin-top: -11px;
    height: 11px;
    background-color: #4c9df4;
    border-radius: 8px;
    align-content: center;
    pointer-events: none;
    transition: width 0.3s ease-in-out;
}

.progressbarBackgroundInfinity {
    height: 11px;
    background-color: #ffcf8c;
    border-radius: 8px;
    align-content: center;
}

.progressbarProgressInfinity {
    margin-top: -11px;
    height: 11px;
    background-color: #f4a34c;
    border-radius: 8px;
    align-content: center;
    pointer-events: none;
    transition: width 0.3s ease-in-out;
}

.marginFinishButton {
    margin-left: 365px;
}

.marginNextPrevButton {
    margin-left: 18px;
}

.Arrow {
    width: 100%;
    height: 100%;
}

.loader-wrapper {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader {
    width: 120px;
    height: 100px;
    --m: no-repeat linear-gradient(90deg, #000 70%, #0000 0);
    -webkit-mask: var(--m) calc(0 * 100% / 4) 100% / calc(100% / 5)
            calc(1 * 100% / 5),
        var(--m) calc(1 * 100% / 4) 100% / calc(100% / 5) calc(2 * 100% / 5),
        var(--m) calc(2 * 100% / 4) 100% / calc(100% / 5) calc(3 * 100% / 5),
        var(--m) calc(3 * 100% / 4) 100% / calc(100% / 5) calc(4 * 100% / 5),
        var(--m) calc(4 * 100% / 4) 100% / calc(100% / 5) calc(5 * 100% / 5);
    background: linear-gradient(#514b82 0 0) left/0% 100% no-repeat #ddd;
    animation: l14 2s infinite steps(6);
}
@keyframes l14 {
    100% {
        background-size: 120% 100%;
    }
}

.line {
    margin-top: 54px;
}

@media (max-width: 768px) {
    .marginFinishButton {
        margin-left: 50px !important;
    }
    .testName {
        font-size: 24px;
    }
    .testDate {
        font-size: 16px;
    }
    .timeInTimer {
        font-size: 24px;
    }
    .textForTime {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .marginFinishButton {
        margin-left: 5vw !important;
    }
    .finishButton {
        width: 113px;
        height: 45px;
        font-size: 16px;
    }

    .marginNextPrevButton {
        margin-left: 18px !important;
    }

    .nextQuestionButton {
        width: 113px;
        height: 45px;
        font-size: 16px;
    }

    .prevQuestionButton {
        width: 50px;
        height: 45px;
        font-size: 16px;
    }
    /* TODO  */
    .Arrow {
        width: 100%;
        height: 100%;
    }
    /*  */

    .textForTime {
        font-size: 14px;
    }
    .testName {
        font-size: 16px;
    }

    .testDate {
        font-size: 12px;
    }

    .timeInTimer {
        font-size: 24px;
    }

    .Timer {
        width: 100px;
        height: 42px;
    }
    .headQuestion {
        font-size: 20px;
    }
    .questionText {
        font-size: 16px;
    }
    .answer {
        font-size: 16px;
    }
    .line {
        margin-top: 36px;
    }
}

@media (max-width: 1024px) {
    .testName {
        font-size: 24px;
    }
    .testDate {
        font-size: 16px;
    }
    .timeInTimer {
        font-size: 24px;
    }
    .textForTime {
        font-size: 16px;
    }
}
